# lines from praxinos 
Binaries
DerivedDataCache
Intermediate
Saved
Plugins
Config
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DS_Store
*.gitattributes
# ignore all files in the x/ directory
mesh/