# lines from praxinos 
Binaries
DerivedDataCache
Intermediate
Saved
Plugins
Config
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DS_Store
*.gitattributes
# ignore all files in the mesh/ directory 
# mesh/
# This do work but with external actors it might not make sense to use. assets in levels will have a random name and locking them would not be possible. Assets within folders can be locked but accidentaly editing these files is less likely